<div class="container">
  <header class="row bg-dark text-white">
    <div class="row">
      <div class="col-12 md-6">
        <h1>My blog </h1>
      </div>
      <div class="col-12 col-md-6 pt-3 d-flex justify-content-start justify-content-md-end">
        <nav>
          <ul class="list-inline">
            <li class="list-inline-item">

              <a href="#" class="text-white text-decoration-none">Home</a>

            </li>
            <li  class="list-inline-item">

              <a href="#" class="text-white text-decoration-none">About</a>

            </li>
            <li  class="list-inline-item">

              <a href="#" class="text-white text-decoration-none">contact</a>

            </li>
          </ul>
        </nav>
      </div>
    </div>

  </header>

  <div class="row bg-secondary" >
    <h1> simple blog with bootstarp5</h1>
    <div class="col-12 col-md-4 col-sm-6">
      <div class="card">
        <img src="https://picsum.photos/id/237/300/200" alt="" class="img-fluid ">
        <div class="card-body">
        <h2>
          post title 1
        </h2>
        <p>
          Date: feb 12,2024
        </p>
        <p>this is the content of post one</p>
      </div>
    </div>
    </div>
    <div class="col-12 col-md-4 col-sm-6">
      <div class="card">
      <img src="https://picsum.photos/id/237/300/200" alt="" class="img-fluid ">
      <div class="card-body">
      <h2>
        post title 2
      </h2>
      <p>
        Date: feb 12,2024
      </p>
      <p>this is the content of post 2</p>
    </div>
  </div>
</div>
    <div class="col-12 col-md-4 col-sm-6">
      <div class="card">

      <img src="https://picsum.photos/id/237/300/200"class="img-fluid" alt="">
      <div class="card-body">
      <h2>
        post title 3
      </h2>
      <p>
        Date: feb 12,2024
      </p>
      <p>this is the content of post 3</p>
    </div>
  </div>
</div>
    <div class="col-12 col-md-4 col-sm-6">
      <div class="card">
      <img src="https://picsum.photos/id/237/300/200" class="img-fluid "alt="">
      <div class="card-body">
      <h2>
        post title 1
      </h2>
      <p>
        Date: feb 12,2024
      </p>
      <p>this is the content of post one</p>
    </div>
  </div></div>
    <div class="col-12 col-md-4  col-sm-6">
      <div class="card">

      <img src="https://picsum.photos/id/237/300/200" class="img-fluid " alt="">
      <div class="card-body">
      <h2>
        post title 2
      </h2>
      <p>
        Date: feb 12,2024
      </p>
      <p>this is the content of post 2</p>
    </div></div></div>
    <div class="col-12 col-md-4 col-sm-6">
      <div class="card">
      <img  class="img-fluid "src="https://picsum.photos/id/237/300/200" alt="">
      <div class="card-body">
      <h2>
        post title 3
      </h2>
      <p>
        Date: feb 12,2024
      </p>
      <p>this is the content of post 3</p>
    </div></div></div>
    <div class="contanier">
      <form action="">
       <div class="form-group">
         <label for="">username</label>
         <input type="text" class="form-control">
       </div>
       <div class="from-group">
        <label for="">passowrd</label>
        <input type="password" class="form-control">
       </div>
       <div class="form-group">
        <label for="">massage</label>
        <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
       </div >
       <div class="ps-5 d-flex justify-content-start my-2"> <button  class="btn btn-success  "> submit</button></div>

      </form>
     </div>


    <footer class="bg-dark">

      <div class="row">
        <div class="col">
          <p class="text-white">
            2024 My Blog  All rights reserved
          </p>
        </div>
        <div class="col">
          <ul class="list-inline">
            <li class="list-inline-item py-2">
              <a href="#" class="text-decoration-none text-white">Terms of service</a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-decoration-none text-white">Privcat Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-decoration-none text-white">Site Map</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

  </div>
</div>
