<div class="contianer-fluid bg-light p-5 ">

<div class="contianer  rounded-4 bg-white border border-3 m-5" >

<div class="row">


<div class="col-6">
  <div class="sign"><h3 class=" pt-5 pb-3 ps-5 d-flex justify-content-center me-4">SIGN   IN</h3></div>

<div class="row ms-4 ">
  <div class="col scoial d-flex justify-content-center"><a href=""><i class="bi bi-google p-3"></i></a>
    <a href=""><i class="bi bi-facebook p-3"></i></a>
  <a href=""><i class="bi bi-github p-3"></i></a>
  <a href=""><i class="bi bi-linkedin p-3"></i></a>

  </div>

</div>
<div class="row ms-4 mt-4 heading ">
  <p class="d-flex justify-content-center">Enter Your Email And password</p>
</div>
<div class="row">
  <form action="" >
<div class="form-group d-flex justify-content-start">
  <input type="username" name="username" id="username" placeholder="username" class="form-control bg-light rounded-4 ms-5 mb-3"[(ngModel)]="credentials.username" >
</div>
<div class="form-group d-flex justify-content-start">
  <input type="password" name="password" id="password" placeholder="Password" class="form-control bg-light rounded-4 ms-5 mb-4" [(ngModel)]="credentials.password">
</div>
<div class="row">
  <p class="d-flex justify-content-center">forgot you  password?</p>
 </div>
 <div class="row d-flex justify-content-center">

 <input type="submit" class="btn btn-warning mb-5 text-white" style="width: 100px;" (click)="login()">
 </div>
  </form>
</div>

</div>

<div class="col-6 gradient-bg">
<div class="row mt-5">

</div>
<div class="row mt-5"></div>
<div class="row mt-2"></div>
<div class="row">
  <h1 class="text-white d-flex justify-content-center mt-5 mb-1">Welcome ,Friend!</h1>
</div>
<div class="row">
  <h6 class="text-white ms-3 mb-4" style="font-size: 18px">
    Enter your personal details to use  all of site <br>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;feature
  </h6>
</div>
<div class="row ms-4">
  <div class="col-2 "></div>
  <div class="col-10">
    <button type="button" class="btn ms-4 text-white border border-1 border-white" style="width: 150px;">Sign up</button>
  </div>

</div>
</div>


</div>





</div>
















</div>
